$primary-text: rgba(30, 30, 30, 0.75);
$primary-green-text: rgb(21, 91, 31);
$primary-green: rgb(21, 91, 31);
$primary-yellow: rgb(252, 215, 1);
$primary-yellow-green: rgb(255, 208, 32);
$secondary-comp: rgba(21, 91, 31, 0.05);
$primary-light: rgba(255, 255, 255, 0.75);