.header {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $primary-text;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(232, 232, 232, 0.25);
  .header__nav {
    .header__list {
      display: flex;
      gap: 50px;
      font-style: normal;
    }
  }
}
.header__item {
  &.header__item_active {
    a {
      color: $primary-green-text !important;
    }
  }
}
.header__has-sub-item {
  position: relative;
}
.header__sub-item {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  //   width: 293px;
  padding: 38px 0px 24px 0px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  z-index: 50;
  top: 40px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(232, 232, 232, 0.25);
  li > a {
    display: flex;
    align-items: center;
    width: 293px;

    padding: 12px 20px 13px 40px;
    &.greenBg {
      background-color: $primary-green;
      color: white !important;
    }
  }
  a {
    color: $primary-text !important;
  }
  &.header__sub-item_active {
    visibility: visible;
  }
}
.container {
  margin: 0 auto;
  padding: 0 113px;
}
