<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__header">Contact Details</h2>
    <div class="footer__body">
      <div class="footer__elem">
        <h3 class="footer__sub-title">Secretariat</h3>
        <div class="footer__details">
          <div class="footer__address">
            <p>Department Of Medical Laboartory Science Building,</p>
            <p>College Of Health Sciences ,</p>
            <p>Ogbomoso,</p>
            <p>Oyo-State.</p>
          </div>
          <a href="tel:+234 70 39368295" class="footer__tel">
            Tel: +234 70 39368295, +234 7069216779
          </a>
          <a href="mailto:nimelssasouthwest@gmail.com" class="footer__email"
            >Email: nimelssasouthwest@gmail.com</a
          >
        </div>
      </div>
      <div class="footer__elem">
        <h3 class="footer__sub-title">NIMELSSA SOUTHWEST</h3>
        <div class="footer__southwest">
          <ul class="footer__list">
            <li>
              <a href="/about-us/index.html">About Us</a>
            </li>
            <li>
              <a href="/leadership/index.html">Leadership</a>
            </li>
            <li>
              <a href="/academic-library.html">Academic Library</a>
            </li>
            <li>
              <a href="/support.html">Support Us</a>
            </li>
            <li>
              <a href="/contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__elem">
        <h3 class="footer__sub-title">Useful Links</h3>
        <div class="footer__useful-links">
          <ul class="footer__list">
            <li>
              <a href="">Constitution</a>
            </li>
            <li>
              <a href="">Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__socials">
      <a href="#">
        <img src="assets/images/facebook.svg" alt="facebook" />
      </a>
      <a href="#">
        <img src="assets/images/twitter.svg" alt="twitter" />
      </a>
      <a href="#">
        <img src="assets/images/instagram.svg" alt="instagram" />
      </a>
    </div>
  </div>
</footer>
