<header class="header container">
  <div class="header__logo-container">
    <img
      src="../assets/images/logo.svg"
      width="50"
      height="50"
      alt="Logo"
      class="header__logo"
    />
  </div>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a href="/index.html" class="header__link">Home</a>
      </li>
      <li class="header__item header__has-sub-item">
        <a href="javascript:void(0)" class="header__link"
          >About NIMELSSA<img src="../assets/images/arrow-down.svg" alt=""
        /></a>
        <ul class="header__sub-item">
          <li>
            <a href="/about-us/index.html">About Us</a>
          </li>
          <li>
            <a href="/about-us/our-structure.html">Our Structure</a>
          </li>
          <li>
            <a href="/about-us/activities.html">Activities</a>
          </li>
          <li>
            <a href="/about-us/history.html">Our History</a>
          </li>
        </ul>
      </li>
      <li class="header__item header__has-sub-item">
        <a href="javascript:void(0)" class="header__link"
          >Leadership
          <img src="../assets/images/arrow-down.svg" alt="" />
        </a>
        <ul class="header__sub-item">
          <li>
            <a href="#">National Executive Council</a>
          </li>
          <li>
            <a href="/leadership/regional-executive-council.html"
              >Regional Executive Council</a
            >
          </li>
          <li>
            <a href="/leadership/provisional-executive-council.html"
              >Provisional Executive Council</a
            >
          </li>
        </ul>
      </li>

      <li class="header__item">
        <a href="/academic-library.html" class="header__link"
          >Academic Library</a
        >
      </li>
      <li class="header__item">
        <a href="/support.html" class="header__link">Support Us</a>
      </li>
      <li class="header__item">
        <a href="/contact.html" class="header__link">Contact Us</a>
      </li>
    </ul>
  </nav>
</header>
